<div class="main">
    <div class="titlebar">
        <p class="title">Events</p>
        <input [(ngModel)]="query" placeholder="🔍 Search for keywords..."/>
    </div>
    <div *ngIf="query.length===0">
        <p class="heading">{{data.forthcomingEventsTitle}}</p>
        <p *ngIf="data.forthcomingEvents.length===0">
            There are no events planned for now. Please check again later.
        </p>
        <div class="events">
            <app-eventbox *ngFor="let event of data.forthcomingEvents" [event]="event"></app-eventbox>
        </div>
        <p class="heading">{{data.pastEventsTitle}}</p>
        <div class="events">
            <app-eventbox *ngFor="let event of data.pastEvents" [event]="event"></app-eventbox>
        </div>
    </div>
    <div *ngIf="query.length>0">
        <p class="heading">Search Results for '{{query}}'</p>
        <app-eventbox *ngFor="let event of getQueryResults()" [event]="event"></app-eventbox>
        <p *ngIf="getQueryResults().length===0">
            No events found. Please check later.
        </p>
    </div>
</div>