<div class="myrow main shadow bordered">
    <div class="imagediv">
        <img *ngIf="article.image" [src]="article.image" class="article-img">
    </div>
    <div class="mycol details">
        <a [href]="article.link">
            <i class="fa fa-external-link"></i>
            {{article.title}}
        </a>
        <div class="mycol">
            <div class="myrow">
                <i class="fa fa-newspaper"></i>
                {{article.journal}}
            </div>
            <div class="myrow">
                <i class="fa fa-group"></i>
                {{getAuthorString()}}
            </div>
        </div>
    </div>
</div>