.main{
    width: 275px;
    margin: 10px;
    padding: 5px;
    border: var(--primary) 2px solid;
    align-items: center;
}
.main>*{
    padding: 5px;
}
.row{
    align-items: center;
}
.row>*{
    padding: 5px;
}
.imagediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    overflow: hidden;
}
.article-img{
    max-height: 200px;
}