.active>*{
    padding: 10px;
}
.main{
    margin: 10px;
    align-items: center;
    border: 3px solid var(--primary);
    /* width: 300px; */
}
.name{
    padding: 5px;
    font-size: larger;
    color: white;
    text-align: center;
    background-color: var(--primary);
    z-index: 1;
    max-width: 90%;
}

img{
    padding: 3px;
    float: right;
    background-color: white;
    z-index: 1;
}

.body{
    text-align: center;
    margin-top: 5px;
    border-top: 3px solid var(--primary);
}
