app-publication-box{
    margin-left: 10px;
}
.titlebar-rp.mycol{
    align-items: flex-start;
}
.titlebar-rp.myrow{
    justify-content: space-between;
    align-items: center;
}
input{
    width: 50%;
    margin-left: 10px;
}
.catbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightgray);
    padding: 10px;
    margin: 5px;
}
.activebox{
    background-color: var(--darkgray);
}
.catbox>*{
    padding: 2px;
}
.myrow{
    align-items: center;
}