.main{
    margin-left: 10%;
    margin-right: 10%;
}

.mycol{
    align-items: center;
    justify-content: center;
}
.myrow{
    align-items: center;
}
.rrow{
    align-items: center;
}
.desktop.mycol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.article-img-desktop{
    padding: 10px;
    /* width: 400px; */
    max-height: 70vh;

    max-width: 50%;
}
.article-img-mobile{
    padding: 10px;
    /* width: 400px; */
    max-height: 70vh;
    max-width: 90%;
}

.desktop.standalone-img{
    width: fit-content;
    height: 470px;
    // max-height: 700px;
}
.mobile.standalone-img{
    max-height: 400px;
    max-width: 90%;
}