<div class="main mycol centercol">
  <div class="myrow btns">
    <div class="desktop">
      <i class="fa fa-angle-left pointable" (click)="backward()" (mouseover)="pause()" (mouseout)="play()"></i>
    </div>
    <mdb-carousel [interval]="2500" [wrap]="true" [animation]="'slide'" #carousel>
      <mdb-carousel-item *ngFor="let group of groupedUpdates">
        <div class="grid-layout">
          <ng-container *ngFor="let item of group; let idx = index">
            <div class="infotilewrapper" [class.large]="idx === 1" [class.small]="idx !== 1">
              <app-infotile *ngIf="updates.infotiles.includes(item)" [infotile]="item"></app-infotile>
              <!-- <app-eventbox *ngIf="updates.events.includes(item)" [event]="item"></app-eventbox> -->
            </div>
          </ng-container>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>    
    <div class="desktop">
      <i class="fa fa-angle-right pointable" (click)="forward()" (mouseover)="pause()" (mouseout)="play()"></i>
    </div>
  </div>
  <div class="myrow" (mouseout)="play()" (mouseover)="pause()">
    <div *ngFor="let index of slideNumbers" [class]="'pointable slidetile' + ((index==getActiveSlide())?' active':'')" (click)="setSlide(index)">
    </div>
  </div>
</div>
