@import "mdb-angular-ui-kit/assets/scss/mdb.scss";
div.main{
    // position: relative;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
}
div.infotilewrapper{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width:900px){
    div.infotilewrapper{
        min-height: 400px;
    }
}