<div class="desktop">
    <div class="main-desktop mycol">
        <a href="">
            <div class="main-desktop myrow">
                <img src="{{data.logo}}" class="logo">
                <div class="eputitle fs-large">
                    {{data.title}}
                </div>
            </div>
        </a>
    <app-navbar class="navbar"></app-navbar>
    <hr class="thick">
    </div>
</div>
<div class="mobile">
    <div class="mycol">
        <a href="">
        <div class="myrow logo">
            <img src="{{data.logo}}" class="logo">
        </div>
        <hr class="mobile">
        <div class="eputitle fs-large mobile">{{data.title}}</div>
        </a>
        <app-navbar class="navbar"></app-navbar>
        <hr class="thick">
    </div>
</div>