div>*{
    color: white;
    background-color: var(--primary);
}
.col{
    justify-content: space-around;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
}
td,th{
    border: 3px solid var(--light);
    text-align: left;
    padding: 8px;
}

/* .rowgrid{
    display: grid;
    grid-template-columns: 25% 75%;
}
.colgrid{
    display: grid;
    grid-template-rows: 33% 33% 33%;
} */