<div class="desktop">
    <table>
        <tbody>
            <tr>
                <td>
                    <app-small-article-box [article]="getNextArticle()"></app-small-article-box>
                </td>
                <td [rowSpan]="otherArticles().length+1">
                    <app-large-article-box [article]="articles[activeIndex]"></app-large-article-box>
                </td>
            </tr>
            <tr *ngFor="let article of otherArticles()">
                <td>
                    <app-small-article-box [article]="article"></app-small-article-box>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="rowgrid">
        <div class="colgrid">
            <app-small-article-box [article]="getNextArticle()"></app-small-article-box>
            <app-small-article-box *ngFor="let article of otherArticles()" [article]="article"></app-small-article-box>
        </div>
        <app-large-article-box [article]="articles[activeIndex]"></app-large-article-box>
    </div> -->
</div>
<div class="mobile">
    <table>
        <tbody>
            <tr>
                <td>
                    <app-large-article-box [article]="articles[activeIndex]"></app-large-article-box>
                </td>
            </tr>
            <tr>
                <td>
                    <app-small-article-box [article]="getNextArticle()"></app-small-article-box>
                </td>
            </tr>
            <tr *ngFor="let article of otherArticles()">
                <td>
                    <app-small-article-box [article]="article"></app-small-article-box>
                </td>
            </tr>
        </tbody>
    </table>
</div>