<div class="main">
    <div class="titlebar">
        <p class="heading">{{data.title}}</p>
        <input [(ngModel)]="Query" placeholder="🔍 Search for keywords..."/>
    </div>
    <div *ngIf="Query.length===0">
        <p *ngIf="(data.seminars.length===0)">There are no  seminars,  please check again later.</p>
        <app-seminarbox *ngFor="let seminar of data.seminars" [seminar]="seminar">
        </app-seminarbox>
    </div>
    <div *ngIf="Query.length>0">
        <p *ngIf="getQueryResults().length>0">Search results for '{{Query}}':</p>
        <p *ngIf="getQueryResults().length===0">No results for '{{Query}}'</p>
        <app-seminarbox *ngFor="let seminar of getQueryResults()" [seminar]="seminar">
        </app-seminarbox>
    </div>
</div>
