table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
}

td,th{
    border: 1px solid #537aa7;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}