<div>
    <a class="heading" [innerHTML]="data.newsTitle" [href]="data.allNewsRoute.route"></a>
    <app-variable-size-content-grid class="desktop" [cols]="2">
        <app-infotile-grid-box *ngFor="let news of data.news" [infotile]="news"></app-infotile-grid-box>
    </app-variable-size-content-grid>
    <app-variable-size-content-grid class="mobile" [cols]="1">
        <app-infotile-grid-box *ngFor="let news of data.news" [infotile]="news"></app-infotile-grid-box>
    </app-variable-size-content-grid>
    
    <a [href]="data.allNewsRoute.route">
        {{data.allNewsRoute.label}}
    </a>
    <p class="heading" [innerHTML]="data.tweetsTitle"></p>
    <div *ngIf="waitingForTweets && (!fetchFailed)">
        {{data.tweetsWaitingMessage}}
    </div>
    <div *ngIf="waitingForTweets && (fetchFailed)" [innerHTML]="data.tweetsfetchFailedMessage">
    </div>
    
    <div class="desktop">
        <div class="tweets" #tweetsMyRow>
            <blockquote class="twitter-tweet" *ngFor="let tweetLink of data.tweetLinks">
                <a [href]="tweetLink"></a></blockquote>
        </div>
    </div>
    <div class="mobile">
        <div class="tweets centercol" #tweetsMyCol>
            <blockquote class="twitter-tweet" *ngFor="let tweetLink of data.tweetLinks">
                <a [href]="tweetLink"></a></blockquote>
        </div>
    </div>
</div>