<app-bom-page></app-bom-page>
<div class="main" #maindiv>
    <p class="title">{{data.title}}</p>
    <div class="grid">
        <app-persontag *ngFor="let person of data.people" [person]="person"
            (click)="toggleActive(person)"></app-persontag>
    </div>
</div>
<app-modalbox #biomodal>
    <div class="mainmodal active col centercol" *ngIf="activeIndex!==-1">
        <img class="person-img" [src]="data.people[activeIndex].image" />
        <div *ngIf="!hasWebpage(data.people[activeIndex])" class="name fs-larger"
            [innerHTML]="data.people[activeIndex].name"></div>
        <div *ngIf="hasWebpage(data.people[activeIndex])" class="name fs-larger">
            <a href="{{getWebpage(data.people[activeIndex]).target}}">
                {{data.people[activeIndex].name}}
            </a>
        </div>
        <div class="body" [innerHTML]="data.people[activeIndex].description"></div>
        <div *ngIf="data.people[activeIndex].links" class="row centerrow">
            <a *ngFor="let link of data.people[activeIndex].links" href="{{link.target}}">{{link.label}}</a>
        </div>
        <div *ngIf="data.people[activeIndex].bio" [innerHTML]="data.people[activeIndex].bio"></div>
    </div>
</app-modalbox>