.activediv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid{
    display: grid;
    justify-content: center;
    align-items: center;
}
@media (min-width:650px){
    .grid{
        grid-template-columns: 45% 45%;
    }
}

@media (min-width:900px){
    .grid{
        grid-template-columns: 33% 33% 33%;
    }
}