.activediv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid{
    display: grid;
}
@media (min-width:1100px){
    .grid{
        grid-template-columns: 45% 45%;
    }
}