<div class="main" #maindiv>
    <p class="title">{{data.title}}</p>
    <div class="grid">
        <app-persontile *ngFor="let person of peopleBeforeActive()" [person]="person" [active]="false" (click)="toggleActive(person)"></app-persontile>
    </div>
    <div class="activediv">
        <app-persontile *ngIf="activeIndex!==-1" [person]="data.people[activeIndex]" [active]="true" (click)="toggleActive(data.people[activeIndex])" (inactive)="activeIndex=-1"></app-persontile>
    </div>
    <div class="grid">
        <app-persontile *ngFor="let person of peopleAfterActive()" [person]="person" [active]="false" (click)="toggleActive(person)"></app-persontile>
    </div>
</div>